
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-weight: 400;
}

hr {
  width: 35%;
}

.app-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.app-container-item {
  flex: auto;
  min-width: 100%;
}

.full-height {
  min-height: 100vh;
}

.section-container {
  display: flex;
  min-width: 60%;
  max-width: 80%;
  padding: 2em;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  flex-flow: column;
}

.section-full-width {
  padding: 0;
  margin: 0;
  min-width: 100%;
  max-width: 100%;
}

.top {
  width: 5em;
  height: 5em;
  align-self: flex-start;
}

.bottom {
  width: 5em;
  height: 5em;
  align-self: flex-end;
}

.section-item {
  flex: auto;
  margin: 0.25em;
} 

.app-nav-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.app-nav-item, .app-nav-group-item {
  flex: auto;
  align-self: center;
  padding: 0.25em;
}

.app-nav-group {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.app-nav-item {
  padding-top: 0.75em;
  max-width: 50%;
  flex: 0;
}

.main-background {
  background-image: linear-gradient(-135deg, #8600C6 0%, #6B00FF 100%);
}

.blue-background {
  background-image: linear-gradient(45deg, #0016FF 0%, #00A7FF 100%);
}

.full-width-img {
  width: 100%;
  min-height: 50vh;
}

.shopify-logo {
  margin-top: 2.25em;
  margin-bottom: 2.25em;
}

/* Regular smart phones, including iPhone 6 + with 414px viewport! */
@media screen and (min-width: 414px) {

}

/* Regular Tablets from 480 to 800px including Galaxy tablets - 768px is only good for iPad */
@media screen and (min-width: 481px) {

}

@media screen and (min-width: 660px) {

}

@media screen and (min-width: 810px) {

}
