
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-align: center;
}

h1 {
  font-weight: 400;
}

.app-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.app-container-item {
  flex: auto;
  min-width: 100%;
  height: 100vh;
}

/*need to center items vertically in the container*/
.section-container {
  display: flex;
  min-width: 60%;
  max-width: 80%;
  justify-content: center;
  align-content: center;
  padding: 2em;
  margin: auto;
}

.top {
  align-self: flex-start;
}

.bottom {
  align-self: flex-end;
}

.section-item {
  flex: auto;
} 

.app-nav-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.app-nav-item, .app-nav-group-item {
  flex: auto;
  align-self: center;
  padding: 0.25em;
}

.app-nav-group {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.app-nav-item {
  padding-top: 0.75em;
  max-width: 50%;
  flex: 0;
}



.main-background {
  background-image: linear-gradient(-135deg, #8600C6 0%, #6B00FF 100%);
}

/* Regular smart phones, including iPhone 6 + with 414px viewport! */
@media screen and (min-width: 414px) {

}

/* Regular Tablets from 480 to 800px including Galaxy tablets - 768px is only good for iPad */
@media screen and (min-width: 481px) {

}

@media screen and (min-width: 660px) {

}

@media screen and (min-width: 810px) {

}
