
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  text-align: center;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-weight: 400;
}

hr {
  width: 35%;
}

.app-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.app-container-item {
  flex: auto;
  min-width: 100%;
}

.full-height {
  min-height: 100vh;
}

.section-container {
  display: flex;
  min-width: 50%;
  max-width: 100%;
  padding: 2em;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  /*overflow: hidden;*/
}

.section-no-padding {
  padding: 0
}

.section-full-width {
  padding: 0;
  margin: 0;
  min-width: 100%;
  max-width: 100%;
}

.section-padding {
  padding: 2.5em;
}

.section-item {
  flex: auto;
} 

.section-item > img {
  align-self: center;
  margin-left: 25%;
  margin-right: 25%;
}

.app-nav-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 2em;
}

.app-nav-center {
  justify-content: center;
}

.app-nav-item, .app-nav-group-item {
  flex: auto;
  align-self: center;
  padding: 0.25em;
}

.app-nav-group {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.app-nav-item {
  padding-top: 0.75em;
  max-width: 50%;
  flex: 0;
}

.logo {
  max-height: 75px;
}

/*.main-background {
  background-image: linear-gradient(-135deg, #8600C6 5%, #6B00FF 100%);
}*/

.main-background {
  background: linear-gradient(225deg, #8600c6, #6b00ff, #ff00a1);
  background-size: 600% 600%;
  animation: animated-background-gradient 10s ease infinite;
}

@keyframes animated-background-gradient { 
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}

.blue-background {
  background-image: linear-gradient(45deg, #0016FF 0%, #00A7FF 100%);
}

.img-class {
  width: 100%;
  height: 100%;
  min-height: 50vh;
}

.service-icon {
  width: 33%;
  height: 33%;
  margin: 2em;
}

.service-icon-large {
  width: 50%;
  height: 50%;
}

.flex-item {
  flex: auto;
  align-self: center;
}

/* Regular smart phones, including iPhone 6 + with 414px viewport! */
@media screen and (min-width: 414px) {

}

/* Regular Tablets from 480 to 800px including Galaxy tablets - 768px is only good for iPad */
@media screen and (min-width: 481px) {

}

@media screen and (min-width: 775px) {
  .app-nav-container {
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }

  .app-nav-group {
    flex-flow: row;
    justify-content: flex-end;
  }

  .app-nav-group-item {
    margin-left: 0.25em;
  }

  .app-container {
    flex-flow: row wrap;
  }

  .section-container {
    flex-flow: row;
    max-width: 90%;
  }

  .tall {
    min-height: 75vh;
  }

  .section-item {
    min-width: 30%;
    flex: 1;
  }

  .flex-start {
    align-self: flex-start;
  }

  .info-card {
    max-width: 100%;
    justify-content: space-around;
    flex-grow: auto;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    text-align: left;
  }

  .text-partial-width {
    margin: 0;
    width: 100%;
  }

}

@media screen and (min-width: 810px) {

}
