
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  text-align: center;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-weight: 400;
}

hr {
  width: 35%;
}

.app-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

.app-container-item {
  flex: auto;
  min-width: 100%;
}

.full-height {
  min-height: 85vh;
}

.section-container {
  display: flex;
  min-width: 60%;
  max-width: 80%;
  padding: 2em;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  flex-flow: column;
}

.section-full-width {
  padding: 0;
  margin: 0;
  min-width: 100%;
  max-width: 100%;
}

.section-padding {
  padding: 2.5em;
}

.top {
  width: 5em;
  height: 5em;
  align-self: flex-start;
}

.bottom {
  width: 5em;
  height: 5em;
  align-self: flex-end;
}

.section-item {
  flex: auto;
} 

.app-nav-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 2em;
}

.app-nav-center {
  justify-content: center;
}

.app-nav-item, .app-nav-group-item {
  flex: auto;
  align-self: center;
  padding: 0.25em;
}

.app-nav-group {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.app-nav-item {
  padding-top: 0.75em;
  max-width: 50%;
  flex: 0;
}

.main-background {
  background-image: linear-gradient(-135deg, #8600C6 0%, #6B00FF 100%);
}

.blue-background {
  background-image: linear-gradient(45deg, #0016FF 0%, #00A7FF 100%);
}

.img-class {
  width: 100%;
  height: 100%;
  min-height: 50vh;
}

.shopify-logo {
  margin-top: 2.25em;
  margin-bottom: 2.25em;
}

/* Regular smart phones, including iPhone 6 + with 414px viewport! */
@media screen and (min-width: 414px) {

}

/* Regular Tablets from 480 to 800px including Galaxy tablets - 768px is only good for iPad */
@media screen and (min-width: 481px) {

}

@media screen and (min-width: 660px) {
  .app-nav-container {
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }

  .app-nav-group {
    flex-flow: row;
    justify-content: flex-end;
  }

  .app-nav-group-item {
    margin-left: 0.25em;
  }

  .app-container {
    flex-flow: row wrap;
  }

  .section-container {
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
  }

  .section-item {
    width: 28%
  }

  .info-card {
    max-width: 100%;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    text-align: left;
  }

  .text-partial-width {
    margin: 0;
    width: 100%;
  }
}

@media screen and (min-width: 810px) {

}
