.info-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  border: 1px solid #343434;
  border-radius: 7px;
  margin: 0.25em;
}

.info-card-item {
  flex: auto;
}
