.info-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  /*border: 1px solid #343434;*/
  border-radius: 7px;
  margin: 0.25em;
  height: 30vh;
}

.info-card-item {
  flex: auto;
}
