.text-title {
  font-family: Lato;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0;
}

.text-headline {
  font-family: Lato;
  letter-spacing: 0;
  line-height: 44px;
  font-size: 36px;
}

.text-subheading {
  font-family: Lato;
  letter-spacing: 0;
  line-height: 33px;
  font-size: 24px;
}

.text-body {
  font-family: Lato;
  letter-spacing: 0;
  line-height: 27px;
  font-size: 20px
}

.text-regular {
  font-weight: 400;
}

.text-light {
  font-weight: 300;
}

.text-hairline {
  font-weight: 100;
}

.text-white {
  color: #FFFFFF;
}

.text-dark {
  color: #4A4A4A;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.text-partial-width {
  width: 60%;
  margin: auto;
}

.text-margin-bottom {
  margin-bottom: .25em;
}
.nav:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

@media screen and (min-width: 660px) {
  .text-partial-width {
    margin: 0;
  }
}